article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2, .big-heading p {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p,
pre {
  margin: 1em 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu,
ol,
ul {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

[class*='col-'] {
  float: left;
  padding: 0 0.5em; }

.grid {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

.grid-pad {
  padding: 1em 0 1em 1em; }

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 1em; }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 33.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-3-4, .col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px; }
  [class*='col-'] {
    width: auto;
    float: none;
    padding-left: 1em;
    padding-right: 1em; }
    [class*='col-']:last-of-type {
      padding-right: 1em; }
  [class*='col-'].m-50 {
    width: 50%;
    float: left;
    padding: 0; }
  [class*='col-'].m-33 {
    width: 33.3%;
    float: left;
    padding: 0; } }

/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
  -webkit-text-size-adjust: none; }

.hljs-comment,
.hljs-javadoc,
.hljs-shebang {
  color: #bc9458;
  font-style: italic; }

.hljs-keyword,
.ruby .hljs-function .hljs-keyword,
.hljs-request,
.hljs-status,
.nginx .hljs-title,
.method,
.hljs-list .hljs-title {
  color: #c26230; }

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-attr_selector,
.apache .hljs-cbracket,
.hljs-date,
.tex .hljs-command,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label {
  color: #a5c261; }

.hljs-subst {
  color: #519f50; }

.hljs-tag,
.hljs-tag .hljs-keyword,
.hljs-tag .hljs-title,
.hljs-doctype,
.hljs-sub .hljs-identifier,
.hljs-pi,
.input_number {
  color: #e8bf6a; }

.hljs-identifier {
  color: #d0d0ff; }

.hljs-class .hljs-title,
.hljs-type,
.smalltalk .hljs-class,
.hljs-javadoctag,
.hljs-yardoctag,
.hljs-phpdoc,
.hljs-dartdoc {
  text-decoration: none; }

.hljs-constant,
.hljs-name {
  color: #da4939; }

.hljs-symbol,
.hljs-built_in,
.ruby .hljs-symbol .hljs-string,
.ruby .hljs-symbol .hljs-identifier,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url,
.hljs-attribute {
  color: #6d9cbe; }

.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  text-decoration: underline; }

.hljs-params,
.hljs-variable,
.clojure .hljs-attribute {
  color: #d0d0ff; }

.css .hljs-tag,
.hljs-rule .hljs-property,
.hljs-pseudo,
.tex .hljs-special {
  color: #cda869; }

.css .hljs-class {
  color: #9b703f; }

.hljs-rule .hljs-keyword {
  color: #c5af75; }

.hljs-rule .hljs-value {
  color: #cf6a4c; }

.css .hljs-id {
  color: #8b98ab; }

.hljs-annotation,
.apache .hljs-sqbracket,
.nginx .hljs-built_in {
  color: #9b859d; }

.hljs-preprocessor,
.hljs-preprocessor *,
.hljs-pragma {
  color: #8996a8 !important; }

.hljs-hexcolor,
.css .hljs-value .hljs-number {
  color: #a5c261; }

.hljs-title,
.hljs-decorator,
.css .hljs-function {
  color: #ffc66d; }

.diff .hljs-header,
.hljs-chunk {
  background-color: #2f33ab;
  color: #e6e1dc;
  display: inline-block;
  width: 100%; }

.diff .hljs-change {
  background-color: #4a410d;
  color: #f8f8f8;
  display: inline-block;
  width: 100%; }

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%; }

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%; }

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.7; }

html {
  min-height: 100%; }

body {
  font: normal normal 400 16px/1.4 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #333; }

.clearfix {
  *zoom: 1; }
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

*, *:after, *:before {
  box-sizing: border-box; }

::-moz-focus-inner {
  border: 0; }

h1, h2, .big-heading p, h3, h4, h5, h6, strong {
  color: #B44646;
  font-weight: bold; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2, .big-heading p {
  font-size: 1.6em;
  margin: .83em 0;
  font-weight: 400; }

h3 {
  font-size: 1.0em;
  font-weight: bold;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .75em;
  margin: 2.33em 0; }

hr {
  height: 1px;
  border: none;
  display: inline-block;
  vertical-align: top;
  margin: 1em 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%; }

li {
  padding-bottom: 0.3em; }

a {
  color: #B44646;
  text-decoration: underline; }

.list-silent, .top-menu ul, .list-silent li, .top-menu ul li {
  list-style-type: none; }

table {
  table-layout: fixed;
  width: 100%; }
  table th {
    text-align: left;
    color: #9B9B9B; }
  table td {
    color: #B44646; }
    table td:last-child {
      color: #df7836;
      font-style: italic; }
    table td code {
      color: #6894d1; }

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }

.center {
  text-align: center; }
  .center img {
    max-width: 100%;
    height: auto; }

.right, .right-center {
  text-align: right; }

.section-0, .big-heading, .section-0 a, .big-heading a, .section-0 h1, .big-heading h1, .section-0 h2, .big-heading h2, .big-heading p, .section-0 h3, .big-heading h3, .section-1, .section-1 a, .section-1 h1, .section-1 h2, .section-1 .big-heading p, .big-heading .section-1 p, .section-1 h3 {
  color: white;
  text-decoration: none; }

.section-0, .big-heading {
  background: #424242; }

.section-1 {
  background: #B44646; }
  .section-1 a:hover {
    text-decoration: underline; }

.section-2 h2, .section-2 .big-heading p, .big-heading .section-2 p, .section-3 h2, .section-3 .big-heading p, .big-heading .section-3 p {
  text-align: center;
  margin-top: 0; }

.section-2 {
  background: #f3f3f3;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

#pageTitle {
  font-weight: bold; }

.top-menu {
  width: 100%;
  position: relative;
  z-index: 100;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
  padding: 1em; }
  .top-menu .grid {
    overflow: visible; }
  .top-menu ul {
    margin: 0;
    padding: 0; }
  .top-menu li {
    display: inline-block; }
  .top-menu p, .top-menu li {
    margin: 0.5em 1em 0.5em 0; }

.top-menu-nav {
  padding-left: 120px; }
  .top-menu-nav a {
    white-space: nowrap; }

.top-menu-hero {
  position: relative;
  padding-left: 120px; }
  .top-menu-hero img {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 0px;
    left: 20px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.55));
            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.55)); }

.big-heading {
  text-align: center;
  padding: 3em 0 5em 0; }
  .big-heading .grid {
    overflow: visible; }
  .big-heading h1 {
    font-weight: 900;
    font-size: 72px; }
  .big-heading h2, .big-heading p, .big-heading p {
    line-height: 1.6em;
    font-weight: 400; }
  .big-heading #phile-logo {
    max-height: 330px;
    width: 75%;
    margin: 35px auto; }
  .big-heading .hero-logo {
    height: 330px;
    width: 75%;
    margin: 2em auto 0 auto; }

a.btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  padding: 1em 1em;
  margin: 0.5em 0;
  background: #B44646;
  border-radius: 3em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 0 0 transparent;
  -webkit-transition: box-shadow 0.5s ease;
          transition: box-shadow 0.5s ease; }
  a.btn:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); }

.instructions ul, .instructions ol {
  padding-left: 1.5em;
  text-align: left; }

.instructions i {
  font-size: 4em; }

section, .section, footer {
  padding: 1.5em 10%; }

footer {
  font-size: small; }

iframe {
  margin: 5% 0;
  max-width: 100%; }

pre code, .hljs {
  display: block;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em 1em;
  line-height: 1.4; }

@media handheld, only screen and (max-width: 767px) {
  body {
    line-height: 1.6em; }
  .right {
    text-align: left; }
  .right-center, .left-center {
    text-align: center; } }

@media handheld, only screen and (max-width: 480px) {
  section {
    padding: 1em 2%; }
  table {
    font-size: 0.8em;
    word-break: break-word; }
  .big-heading h1 {
    font-size: 36px; }
  .big-heading h2, .big-heading p {
    font-size: 22px; } }

.info {
  font-size: small;
  color: #606060; }
