@import "imports/__normalize";
@import "imports/_grid";
@import "imports/_mixins";
// vanilla highlight.js theme file
// @import "imports/_railscasts";

// [class^="icon"] {
//   position: relative;
//   top: 0.1em;
// }

$dark: #333;
$middle: #424242;
$light: #9B9B9B;
$red: #B44646;

html {
  min-height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: $dark;
}

.clearfix {
  @include clearfix();
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

::-moz-focus-inner {
  border: 0;
}

h1, h2, h3, h4, h5, h6, strong {
  color: $red;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

h2 {
  font-size: 1.6em;
  margin: .83em 0;
  font-weight: 400;
}

h3 {
//  font-size: 1.17em;
  font-size: 1.0em;
  font-weight: bold;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0
}

h5 {
  font-size: .83em;
  margin: 1.67em 0
}

h6 {
  font-size: .75em;
  margin: 2.33em 0
}

hr {
  height: 1px;
  border: none;
  display: inline-block;
  vertical-align: top;
  margin: 1em 0;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
}

ul {
  margin: 0.5em 0;
}

li {
  padding-bottom: 0.3em;
}

a {
  color: $red;
  text-decoration: underline;
}

.list-silent {
  &, li {
    list-style-type: none;
  }
}

table {
  table-layout: fixed;
  width: 100%;
  th {
    text-align: left;
    color: $light;
  }
  td {
    color: $red;
    &:last-child {
      color: #df7836;
      font-style: italic;
    }
    code {
      color: #6894d1;
    }
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.center {
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

.right, .right-center {
  text-align: right;
}

.section-0, .section-1 {
  &, a, h1, h2, h3 {
    color: white;
    text-decoration: none;
  }
}

.section-0 {
  background: $middle;
}

.section-1 {
  a:hover {
    text-decoration: underline;
  }
  background: $red;
}

.section-2, .section-3 {
  h2 {
    text-align: center;
    margin-top: 0;
  }
}

.section-2 {
  background: #f3f3f3;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.section-3 {
}

#pageTitle {
  font-weight: bold;
}

.top-menu {
  width: 100%;
  position: relative;
  z-index: 100;

  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.34);
  padding: 1em;

  .grid {
    overflow: visible;
  }

  ul {
    @extend .list-silent;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  p, li {
    margin: 0.5em 1em 0.5em 0;
  }

  a.item-active {
    font-weight: bold;
  }

  a {
    white-space: nowrap;
    &:hover {
        text-decoration: none;
    }
  }
}

.top-menu-nav {
  padding-left: 120px;
}

.top-menu-hero {
  position: relative;
  padding-left: 120px;

  img {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 0px;
    left: 20px;

    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.55));
  }
}

.big-heading {
  @extend .section-0;
  text-align: center;
  padding: 3em 0 5em 0;

  .grid {
    overflow: visible;
  }

  h1 {
    font-weight: 900;
    font-size: 72px;
  }

  h2, p {
    line-height: 1.6em;
    font-weight: 400;
  }

  p {
    @extend h2;
  }

  #phile-logo {
    max-height: 330px;
    width: 75%;
    margin: 35px auto;
  }

  .hero-logo {
    height: 330px;
    width: 75%;
    margin: 2em auto 0 auto;
  }
}

a.btn {
  @include inline-block();
  padding: 1em 1em;
  margin: 0.5em 0;
  background: $red;
  border-radius: 3em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: box-shadow 0.5s ease;
  &:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  }
}

.instructions {
  ul, ol {
    padding-left: 1.5em;
    text-align: left;
  }
  i {
    font-size: 4em;
  }
}

section, .section, footer {
  padding: 1.5em 10%;
}

footer {
  font-size: small;
}

iframe {
  margin: 5% 0;
  max-width: 100%;
}

pre code, .hljs {
  display: block;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em 1em;
  line-height: 1.4;
}

code, .hljs {
  font-size: 0.9em;
}

code {
    background-color: #f3f3f3;
    padding: 0 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
}

.wiki-aside {
    padding: 0 4em 2em 0;
    // font-size: small;
}

.toc {
  font-size: small;
}

.toc, .wiki-aside {
    ul {
      margin: 0.2em 0;
      padding-bottom: 0;
    }
    & > ul {
      padding-left: 0;
    }
}

@media handheld, only screen and (max-width: 767px) {
  body {
    line-height: 1.6em;
  }
  .right {
    text-align: left;
  }
  .right-center, .left-center {
    text-align: center;
  }
}

@media handheld, only screen and (max-width: 480px) {
  section {
    padding: 1em 2%;
  }
  table {
    font-size: 0.8em;
    word-break: break-word;
  }

  .big-heading {
    h1 {
      font-size: 36px;
    }
    h2 {
      font-size: 22px;
    }
  }

  .toc, .wiki-aside {
    line-height: 1.4em;
    li {
      padding: 0;
    }
  }

}

.info {
  font-size: small;
  color: #606060;
}
