<div class="clearfix"></div>
<footer class="section-1">
  <div class="grid">
    <div class="col-1-2">
      <h3>
        <a href="https://github.com/orgs/PhileCMS/people">
          Core Authors
        </a>
      </h3>
      <ul>
        <li>
          <a href="https://github.com/james2doyle" target="_blank">
            James Doyle - great ideas, code a lot of plugins and worked on the
            core
          </a>
        </li>
        <li>
          <a href="https://github.com/NeoBlack" target="_blank">
            Frank Nägler - refactoring of the core and introducing OOP concepts
          </a>
        </li>
        <li>
          <a href="https://github.com/Schlaefer" target="_blank">
            Schlaefer
          </a>
        </li>
      </ul>
    </div>
    <div class="col-1-2 center">
      <p>
        <a href="https://github.com/PhileCMS">
          Hosted on Github. Maintained by the PhileCMS community</a>.
      </p>
    </div>
  </div>
</footer>

<script src="js/script.min.js"></script>
</body>
</html>
