{% include '_head.twig' %}

<div class="container">
  <div class="container">
    <section id="main_content">
      <aside class="wiki-aside">
        {% include '_Sidebar.html' %}
      </aside>
      <div style="overflow:hidden;">
        <h1>{{ title }}</h1>
        {% block content %}{% endblock %}
      </div>
      <div class="info" style="margin-top: 2em;">
          <a href="https://github.com/PhileCMS/Phile/wiki/{{ fullname|url_encode() }}">
              Edit the source page on github…
            </a>
      </div>
    </section>
  </div>
</div>

{% include '_footer.twig' %}